a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/*  font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif; */
/* 
  :root {
    --main-font-color: rgb(48, 47, 47);
  } */

  html {
    font-size: 62.5%;
  }

  body {
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    color: rgb(48, 47, 47);
    overflow-x: hidden;
    /* background-image: linear-gradient(to bottom, white 50%, rgba(168, 216, 206, 0.459)); */
  }

  img {
    max-width: 100%;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  .wrapper {
    max-width: 1640px;
    width: 80%;
    margin: 0 auto;

  }

  nav {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 20vh;

  }

  header {
    min-height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border-bottom: 5px solid black; */
    /* border-radius: 0 0 25px 25px; */
  }

  .header-text {
     position: relative;
     width: 63%;
  
  }
  
  h1, 
  h2, 
  h3, 
  h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 19rem;
    font-weight: bold;
    color: rgb(48, 47, 47);
    line-height: 0.83;
    z-index: 1;
  }

  /* h1 {
    font-size: 19rem;
    font-weight: bold;
    color: rgb(68, 67, 67);
    line-height: 0.83;
    z-index: 1;
  } */

  .header-text::after {
    content: 'zachbines';
    font-size: 50rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: rgba(211, 211, 211, 0.096);
    display: block;
    position: absolute;
    bottom: -400px;
    left: -200px;
    width: 100%;
    z-index: -10;
  }

  .dot {
    position: relative;
    z-index: 10;
    /* left: 187px; */
  }

  .dot::after {
    content: '.';
    position: absolute;
    color: #f84747;
    right: -50px;
    bottom: 25px;
  }
/* 
  .dot::before {
    content: '';
    display: block;
    position: absolute;
    height: 60%;
    width: 75%;
    top: 50px;
    right: -28px;
    border-top: 5px solid rgb(68, 67, 67);
    border-right: 5px solid  rgb(68, 67, 67);
    border-radius: 0 50px;
  } */

  
  .sub-heading {
    font-size: 5rem;
    text-align: right;
    margin: 20px; 
  }

  .image-container {
    width: 30%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .image-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(34, 216, 192, 0.301), rgba(216, 101, 34, 0.301));
  }

  /* about section  */
  main {
    border-top: 5px solid black;
    border-radius: 25px 0;
  }
  .heading-container {
     width: 35%;
  }

  .about-section h2 {
    margin: 50px 0 0px;
    position: relative;
  }

  .about-section .sub-heading {
    position: relative;
    width: 330px;
    margin: 30px auto;
  }

  h3::after {
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    width: 110%;
    background-color:#f8474746;
    bottom: 0;
    z-index: -1;
  }

  .about-content-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content-container div,
  .bio {
    width: 40%;
    margin: 40px 40px;
  }

  .bio {
    line-height: 1.8;
    color: rgb(68, 67, 67);
  }

  .bio span {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: 2.6rem;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  
  



