a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/*  font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif; */
/* 
  :root {
    --main-font-color: rgb(48, 47, 47);
  } */

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Lora', serif;
    font-size: 1.6rem;
    color: rgb(48, 47, 47);
    overflow-x: hidden;
    /* background-image: linear-gradient(to bottom, white 50%, rgba(168, 216, 206, 0.459)); */
  }

  img {
    max-width: 100%;
  }
  
  a {
    color: inherit;
    text-decoration: none;
    position: relative;
    
  }

  a::before {
    content: '';
    display: block;
    position: absolute;
    height: 10px;
    width: 10px; 
    background-color: #f84747;
    border-radius: 50%;
    right: -8px;
    bottom: 9px;
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  a:hover::before,
  a:focus::before {
    opacity: 1;
  }

  .wrapper {
    max-width: 1440px;
    width: 80%;
    margin: 0 auto;
  }

  .logo {
    font-size: 6.5rem;
    font-weight: 700;
  }

  .logo span {
    font-size: 8.1rem;
    text-shadow: 1px -1px 0px white;
    position: relative;
    left: -7px;
    top: 1px;
  }

  .logo .dot::after {
    font-size: 18rem;
    text-shadow: -1px 1px 0px white;
    right: 19px;
    bottom: 25px;
    z-index: -1;
  }

  nav {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }

  .link-list {
    display: flex;
    width: 37%;
    justify-content: space-between;
  }

  .link-list li {
    margin: 5px;
    text-transform: uppercase;
  }

  .link-list a {
    padding: 5px;
  }

  header {
    margin-top: 50px;
    min-height: calc(90vh - 60px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .header-text {
     position: relative;
     width: 63%;
     animation: fadeInAnimation 2s ease 1, fromLeft 2s ease 1;
  }
  
  h1, 
  h2, 
  h3, 
  h4 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(48, 47, 47);
  }

  h1 {
    font-size: 19rem;
    line-height: 0.83;
    z-index: 1;
  }

/* water mark name
  .header-text::after {
    content: 'zachbines';
    font-size: 50rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: rgba(211, 211, 211, 0.096);
    display: block;
    position: absolute;
    bottom: -400px;
    left: -300px;
    width: 100%;
    z-index: -10;
  } */

  .dot {
    position: relative;
    z-index: 10;
  }

  .dot::after {
    content: '.';
    position: absolute;
    color: #f84747;
    right: -50px;
    bottom: 25px;
  }

  /* git border */
  h1 span::before {
    content: '';
    display: block;
    position: absolute;
    height: 60%;
    width: 75%;
    top: 47px;
    right: -29px;
    border-top: 5px solid rgb(48, 47, 47);
    border-right: 5px solid rgb(48, 47, 47);
    border-left: none;
    border-radius: 0 50px;
  }

  .sub-heading {
    font-size: 5rem;
    text-align: right;
    margin: 20px; 
  }

  /* header image */

  .image-container {
    width: 30%;
    min-width: 260px;
    height: auto;
    position: relative;
    /* z-index: 1; */
    animation: fadeInAnimation 2s ease 1, fromBottom 2s ease 1;
  }

  .image-container::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top right, rgba(34, 216, 192, 0.301), rgba(216, 101, 34, 0.301));
  }

  /* about section  */
  .heading-container {
    margin-top: 50px;
    width: 35%;
  }

  /* for all secondary headings */
  h2 {
    font-size: 12rem;
    line-height: 0.83;
    /* z-index: 1; */
  }

  h2 span.dot::after {
    right: -30px;
    bottom: 20px;
  }

  h2.dot::after {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .about-heading span::before {
    content: '';
    display: block;
    position: absolute;
    height: 380%;
    width: 44%;
    bottom: 31px;
    right: -178px;
    border-bottom: 5px solid rgb(48, 47, 47);
    border-right: 5px solid rgb(48, 47, 47);
    border-radius: 0 0 50px 0;
    /* z-index: -1; */
  }

  .about-section .sub-heading {
    position: relative;
    width: 330px;
    /* margin: 30px auto; */
  }

/* hor all h3's */
  h3 {
    position: relative;
  }

  h3::after {
    content: '';
    display: block;
    position: absolute;
    height: 30px;
    width: 105%;
    background-color:#f8474746;
    bottom: 0;
    z-index: -1;
  }
  /* ---- */

  .about-content-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-image,
  .bio {
    width: 40%;
    margin: 40px 40px;
  }

  .bio {
    line-height: 1.8;
    color: rgb(68, 67, 67);
  }

  .bio span {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    font-size: 2.6rem;
    font-weight: bolder;
    margin-bottom: 10px;
  }

  .skills {
    margin-top: 100px;
  }

  .skills .heading-container {
    margin-bottom: 50px;
  }

  .skills-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding-top: 10px;
  }

  .skills-list li {
    width: 25%;
    font-size: 14rem;
    text-align: center;
    margin: 20px 0;
    padding-top: 20px;
    position: relative;
  }

  .li1::before, .li3::before, .li5::before, .li7::before {
    content: '';
    display: block;
    position: absolute;
    top: 14px;
    left: -1px;
    width: 100%;
    height: 93%;
    border-bottom: 5px solid rgb(48, 47, 47);
    border-left: 5px solid rgb(48, 47, 47);
    border-radius: 0 0 0 50px;
    z-index: -1000;
  }
  .li2::before, .li4::before, .li6::before, .li8::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 91%;
    border-top: 5px solid rgb(48, 47, 47);
    border-left: 5px solid rgb(48, 47, 47);
    border-radius: 50px 0 0 0;
    z-index: -1000;
  }

  .li1::after, 
  .li3::after, 
  .li5::after, 
  .li7::after {
    font-size: 20rem;
    bottom: -39px;
    right: -27px;
    z-index: 1000;
  }

  /* top dots */
  .li2::after, 
  .li4::after, 
  .li6::after, 
  .li8::after {
    font-size: 20rem;
    top: -162px;
    right: -26px;
    z-index: 1000;
  }

  i {
    margin: 10px;
  }

   
  
  



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
    z-index: -1;
  }
}