a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

/*  font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif; */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;
  font-size: 1.6rem;
  color: rgb(48, 47, 47);
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a, 
.link-list button {
  font-family: 'Ubuntu', sans-serif;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  position: relative;
}

.link-list a::before,
.links a::before,
.link-list button::before {
  content: '';
  display: block;
  position: absolute;
  height: 10px;
  width: 10px; 
  background-color: #f84747;
  border-radius: 50%;
  right: -8px;
  bottom: 9px;
  opacity: 0;
  transition: opacity 300ms ease;
}

.link-list a:hover::before,
.link-list a:focus::before,
.links a:hover::before,
.links a:focus::before,
.link-list button:hover::before, 
.link-list button:focus::before {
  opacity: 1;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.logo {
  font-size: 6.5rem;
  font-weight: 700;
}

.logo span {
  font-size: 8.1rem;
  text-shadow: 1px -1px 0px white;
  position: relative;
  left: -7px;
  top: 1px;
}

/* definition of dot */
.dot {
  position: relative;
}

.dot::after,
.app-preview::before {
  content: '.';
  position: absolute;
  color: #f84747;
  z-index: 10;
}

/* ----- */

.logo .dot::after {
  font-size: 18rem;
  text-shadow: -1px 1px 0px white;
  right: 19px;
  bottom: 25px;
  z-index: -1;
}

nav {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.link-list {
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.link-list li {
  margin-left: 20px;
}

.link-list a {
  padding: 5px;
}

.link-list button {
  border: 0;
  background: none;
  bottom: 2px;
  padding: 0;
  margin-left: 5px;
}

.link-list button::before {
  right: -13px;
  bottom: 4px;
}

header {
  min-height: calc(90vh - 60px);
  position: relative;
}

.header-content {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

header .scroll {
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: 55px;
}

.scroll {
  border: 0;
  background-color: transparent;
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.scroll::after,
.scroll::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid rgb(48, 47, 47);
  border-left:  3px solid rgb(48, 47, 47);
  animation: pulse 2s ease-in-out infinite;
}

header .scroll::after,
header .scroll::before {
  /* rotate: -45deg; */
  transform: rotate(-45deg);
  animation: pulse-header 1s ease-in-out infinite;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: pulse-header 1s ease-in-out infinite;
}

header .scroll::after {
  right: 23px;
  bottom: -40px;
}

header .scroll::before {
  right: 32px;
  bottom: -25px;
}

.scroll::after {
  right: 0;
  bottom: 10px;
  height: 50px;
  width: 50px;
}

.scroll::before {
  right: 10px;
  bottom: 25px;

  height: 30px;
  width: 30px;
}

.header-text {
    position: relative;
    width: 60%;
    animation: fadeInAnimation 2s ease 1, fromLeft 2s ease 1;
}

h1, 
h2, 
h3, 
h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: rgb(48, 47, 47);
}

h1 {
  font-size: 18rem;
  line-height: 0.83;
  position: relative;
  z-index: 1;
}

/* git border */
h1 span::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 360px;
  bottom: 55px;
  right: -29px;
  border-top: 5px solid rgb(48, 47, 47);
  border-right: 5px solid rgb(48, 47, 47);
  border-left: none;
  border-radius: 0 50px;
  z-index: 1;
}

h1 .dot::after {
  right: -48px;
  bottom: 25px;
}

.sub-heading {
  font-size: 5rem;
  text-align: right;
  margin: 20px; 
  line-height: 1;
}

/* header image */

.image-container {
  width: 36%;
  min-width: 280px;
  height: auto;
  position: relative;
  z-index: 0;
  animation: fadeInAnimation 2s ease 1, fromBottom 2s ease 1;
}

.image-container::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top right, rgba(34, 216, 192, 0.301), rgba(216, 101, 34, 0.301));
}

/* about section  */
.about-section {
  padding-top: 50px;
  margin-bottom: 100px;
}

.heading-container {
  margin-top: 50px;
}

/* for all secondary headings */
h2 {
  font-size: 12rem;
  line-height: 0.83;
}

main .sub-heading {
  position: relative;
  width: 330px;
}

/* for all h3's */
h3 {
  position: relative;
}

h3::after {
  content: '';
  display: block;
  position: absolute;
  height: 30px;
  width: 105%;
  background-color:#f8474746;
  bottom: 0;
  z-index: -1;
}
/* ---- */

.about-content-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image,
.bio {
  width: calc(45% - 80px);
  min-width: 320px;
  margin: 0 40px;
}

.bio {
  line-height: 1.8;
  color: rgb(68, 67, 67);
}

.bio span {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  font-size: 2.6rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.skills {
  margin-top: 100px;
  padding: 50px 0 100px;
}

.heading-container {
  margin-bottom: 70px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-top: 10px;
  position: relative;
}

.skills-list li {
  width: 25%;
  font-size: 14rem;
  text-align: center;
  /* margin: 20px 0; */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-list::before {
  content: '';
  display: block;
  position: absolute;
  top: 218px;
  /* left: -250px; */
  width: 99%;
  height: 5px;
  background: rgb(48, 47, 47);
}

.skills-list::after {
  top: -17px;
  right: -20px;
}

.li2::before, 
.li4::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -1px;
  width: 95%;
  height: 104%;
  border-top: 5px solid rgb(48, 47, 47);
  border-left: 5px solid rgb(48, 47, 47);
  border-radius: 50px 0 0 0;
  z-index: -1000;
}

.li5::before, 
.li7::before {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  left: 0px;
  width: 100%;
  height: 99%;
  border-bottom: 5px solid rgb(48, 47, 47);
  border-left: 5px solid rgb(48, 47, 47);
  border-radius: 0 0 0 50px;
  z-index: -1000;
}

.li2::after, 
.li4::after,
.li5::after, 
.li7::after,
.skills-list::after {
  font-size: 29rem;
}

.li2::after, 
.li4::after {
  top: -235px;
  right: -18px;
}

.li5::after, 
.li7::after {
  bottom: -60px;
  right: -35px;
}

  /* projects section */
  
.projects {
  padding-top: 50px;
  margin-bottom: 50px;
}

/* container for preivew and description */
.project {
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px auto 0;
}

.flip {
  flex-direction: row-reverse;
}

/* each panel (image or text) */
.panel {
  margin: 20px;
}

.blurb-container {
  width: calc(40% - 40px);
}

/* app-preview image container */
/* general styling for all preview boxes */
.app-preview {
  width: calc(60% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-repeat: no-repeat;
}

/* borders for app1, app3 */
.app1, 
.app3 {
  border: 5px solid rgb(48, 47, 47); 
  border-right: 0;
  border-radius: 25px 0 0 25px;
  background-image: linear-gradient(to left, transparent 30%, black);
  padding-left: 30px;
}
/* borders for right side of first app */
.app2, 
.app4{
  border: 5px solid rgb(48, 47, 47); 
  border-left: 0;
  border-radius: 0 25px 25px 0;
  background-image: linear-gradient(to right, transparent 30%, black);
  padding-right: 30px;
}

/* putting dots on all boxes */
.app-preview::after,
.app-preview::before {
  font-size: 29rem; 
}

/* top right dots */
.app1::before, .app3::before {
  top: -240px;
  right: -36px;
}
/* bottom right dots */
.app1::after, .app3::after {
  bottom: -55px;
  right: -36px;
}
  
/* top left dots */
.app2::after, .app4::after {
  top: -240px;
  left: -36px;
}
/* bottom left dots*/
.app2::before, .app4::before {
  bottom: -55px;
  left: -36px;
}

.app-preview img {
  /* max-width: 94%; */
  /* padding: 3% 0; */
  position: relative;
}

h4 {
  font-size: calc(3rem + 1vw);
  line-height: 0.9;
}

h4 span {
  margin-left: -10px;
}

.blurb-container p {
  font-size: 2rem;
  line-height: 1.5;
  margin: 20px 0;
}

.blurb-container i {
  font-size: 4.5rem;
  margin: 5px;
}
.blurb-container i:first-of-type {
  margin-left: 0;
}

.trademark {
  font-size: 1.6rem;
}

.teammate {
  text-transform: none;
  font-family: inherit;
  color: #f84747
}

.links span::before {
  content: '|';
  font-size: 3rem;
  color: rgb(48, 47, 47);
  position: relative;
  left: -9px;
}

.links a {
  color: #f84747;
  text-align: center;
  font-size: 2.2rem;
  display: inline-block;
  padding: 5px 10px 5px 0;
  margin: 10px 10px 10px 0;
  transition: color 200ms ease;
}

.links a::before {
  right: -3px;
  bottom: 5px;
}
  
.links a:hover,
.links a:focus {
  color: rgb(48, 47, 47);
}

/* contact section */
.contact {
  padding-top: 25px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 50px;
}

.contact form,
.socials {
  width: calc(50% - 80px);
  margin: 40px;
}

.contact form {
  margin-left: 20px;
  min-width: 500px;
  position: relative;
}

.inputs {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.inputs::before {
  content: '';
  position: absolute;
  display: block;
  top: 30px;
  right: -35px;
  height: 5px;
  width: 70%;
  background-color: rgb(48, 47, 47);
  z-index: -1;
}

.inputs::after {
  font-size: 20rem;
  right: -57px;
  bottom: -83px;
}

.contact form::before {
  content: '';
  position: absolute;
  top: 118px;
  right: -15px;
  width: 30px;
  height: 5px;
  background-color: rgb(48, 47, 47);
  z-index: -1;
  opacity: 0;
}

.contact form::after {
  font-size: 16rem;
  top: -10px;
  right: -35px;
  opacity: 0;
}

input,
textarea {
  padding: 20px;
  background-color: rgb(243, 242, 242);
  border: 0;
  transition: all 1s ease;
}

input {
  width: calc(50% - 10px);
}

textarea {
  width: 100%;
  min-height: 200px;
  resize: none;
  margin-top: 20px;
}

input:focus, 
textarea:focus {
  background-color: #ebfded;
} 

.full {
  position: relative;
}

.full::after {
  content: '';
  position: absolute;
  display: block;
  top: 20%;
  right: -35px;
  height: 5px;
  width: 40px;
  background-color: rgb(48, 47, 47);
  z-index: -1;
}

.full::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -60px;
  right: -35px;
  width: 76%;
  height: 137%;
  border-bottom: 5px solid rgb(48, 47, 47);
  border-right: 5px solid rgb(48, 47, 47);
  border-radius: 0 0 25px;
  z-index: -1;
}

.submit {
  width: 200px;
  height: 50px;
  margin: 30px 0 0;
  border: 0;
  background-color: rgb(48, 47, 47);
  color: rgba(255, 255, 255, 0.897);
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 200ms ease;
}

.submit:hover,
.submit:focus {
  background-color: #fdcccc;
  color: rgb(48, 47, 47);
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.socials li {
  margin: 10px;
  color: rgb(48, 47, 47); 
  font-size: calc(5rem + 4vw);
  transform: scale(1);
  transition: all 200ms ease;
}

.socials li:hover,
.socials li:focus {
  animation: pulse 500ms ease-in-out 2;
}

.socials li:active {
  color: #f84747;
}

.contact button.scroll {
  position: relative;
  margin: 0 0 20px auto;
}

.contact .scroll::after,
.contact .scroll::before {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  animation: pulse-contact 1s ease-in-out infinite;
  -webkit-animation: pulse-contact 1s ease-in-out infinite;
}
/* big arrow */
.contact .scroll::after {
  bottom: 10px;
  right: 50px;
  height: 50px;
  width: 50px;
}
  /* little arrow */
.contact .scroll::before {
  bottom: 15px;
  right: 60px;
  height: 30px;
  width: 30px;
}

footer {
  background: rgb(48, 47, 47);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  text-transform: uppercase;
  color: white;
}

footer i {
  font-size: 2.5rem;
  color:#f84747;
}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
    }
}

@keyframes fromLeft {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
    z-index: -1;
  }
}

@keyframes pulse {
  0%, 100%{
    transform: scale(1);

  }

  50% {
    transform: scale(0.9);
  }
}
@keyframes pulse-header {
  0%, 100%{
    transform: scale(1) rotate(-45deg);

  }

  50% {
    transform: scale(0.9) rotate(-45deg);
  }
}

@keyframes pulse-contact {
  0%, 100%{
    transform: scale(1) rotate(135deg);

  }

  50% {
    transform: scale(0.9) rotate(135deg);
  }
}

/* media queries */

@media (max-width: 975px) {
  .wrapper {
    width: 90%;
  }

  .header-content {
    flex-direction: column;
  }

  .header-text {
    width: 100%;
  }

  header .sub-heading {
    font-size: 3.7rem;
    text-align: left;
    width: 47%;
  }

  header .image-container {
    margin-right: 20px;
    align-self: flex-end;
    top: -60px;
    z-index: -1;
  }

  header .scroll {
    left: 0;
  }

  .about-content-container {
    width: 100%;
  } 

  .about-image,
  .bio {
    width: calc(50% - 40px);
    margin: 20px;
  }

  .skills-list li {
    font-size: 10rem;
    padding: 20px
  }
  /* main branch */
  .skills-list::before {
    top: 157px;
  }
  /* .dot on the end */
  .skills-list::after {
    top: -78px;
  }
  /* projects at 975px */
  .project {
    width: 100%;
  }

  .app-preview {
    padding: 15px;
  }

  .app1, .app3 {
    padding-left: 25px;
  }

  .app2, .app4 {
    padding-right: 25px;
  }

  .app-preview::before,
  .app-preview::after {
    font-size: 25rem;
  }

  .app1::before, .app3::before {
    top: -207px;
  }

  .app1::after, .app3::after {
    bottom: -48px;
  }

  .app2::before, .app4::before {
    bottom: -48px;
  }

  .app2::after, .app4::after {
    top: -208px;
  }

  /* contact */
  .socials {
    flex-direction: column;
  }

}

/* 800px */
@media (max-width: 800px) {

  .wrapper {
    width: 95%;
  }

  nav {
    font-size: 1.8rem;
  }

  .link-list a::before {
    height: 7px;
    width: 7px;
    right: -4px;
  }

  header .scroll,
  header .scroll::before,
  header .scroll::after {
    display: none;
  }

  /* about section at 800px */
  .about-content-container {
     flex-wrap: wrap;
  }

  .about-image {
    width: 70%;
  }

  .bio {
    width: 100%;
  }

  .skills-list {
    flex-direction: column;
    align-content: center;
    height: 700px;
    padding-top: 70px;
  }

  .skills-list li {
    min-width: 180px;
    padding: 25px;
    /* margin: 0 20px; */
  }

  /* line through middle, and dot  */
  .skills-list::before {
    /* make verticle */
    height: 145%;
    width: 5px;
    right: 50%;
    top: -150px;
    background-color: none;
    background: linear-gradient(to bottom, transparent 9%, rgb(48, 47, 47), rgb(48, 47, 47), rgb(48, 47, 47), rgb(48, 47, 47), transparent );
  }

  .skills-list::after {
    display: none;
    top: -300px;
    right: 50vw;
  }

/* before: branches, after: dots */
  .li2::before, .li4::before {
    border-top: 0;
    border-bottom: 5px solid rgb(48, 47, 47);
    border-radius: 0 0 0 50px;
    left: -5px;
    width: 100%;
    top: -9px;
  }

   .li2::after, .li4::after {
    left: -203px;
    top: -226px;
    font-size: 25rem;
   }

/* before: branches, after: dots */
  .li5::before, .li7::before {
    border-left: 0;
    border-right: 5px solid rgb(48, 47, 47);
    border-radius: 0 0 50px 0;
    left: 0;
    width: 100%;
  }

  .li5::after, .li7::after {
    font-size: 25rem;
    bottom: 106px;
    right: -33px;
  }


  /* projects section */
  .project {
    flex-wrap: wrap;
  }

  .panel {
    width: 100%;
  }

  /* contact at 800px */
  .contact form, .socials {
    width: 80%;
    margin: 20px auto;
    min-width: 0;
  }

  .contact-content {
    flex-wrap: wrap; 
    margin-bottom: 80px;
  }

   .socials {
    flex-direction: row;
  }

  .contact button.scroll {
    margin: 10px auto;
  }

}


@media (max-width: 575px) {

  .link-list{
    display: none;
    /* maybe position off screen so still accessible */
    /* FIGURE THIS OUT! */
  }

  header {
    min-height: 0;
  }

  h1 {
    font-size: calc(9rem + 4vw);
    text-align: center;
    margin-right: 20px;
  }

  h1 span::before {
    height: 65px;
    width: 200px;
    right: -17px;
    border-radius: 0 25px;
    bottom: 28px;
  }

  h1 .dot::after {
    right: -27px;
    bottom: 15px;
  }
  
  header .sub-heading {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    margin: 10px auto;;
  }

  header .image-container {
    width: 100%;
    margin: 20px auto;
    top: 0;
  }

  h2 {
    font-size: 7rem;
  }

    /* for all sections */
  main .sub-heading {
    font-size: 3.5rem;
    min-width: 200px;
    width: 60%;
  }

  h3::after {
    height: 15px;
  }

  .heading-container {
    width: 100%;
    margin: 0;
  }
/* ------= */

  /* about at 575px */
  .about-image, .bio {
    margin: 20px 0;
    width: 100%;
    min-width: 0;
  }

  /* skills at 575 */
  .skills-list li {
    min-width: 130px;
    padding: 25px;
  }
  
  .skills-list::before {
    width: 3px;
    background: linear-gradient(to bottom, transparent 13%, rgb(48, 47, 47), rgb(48, 47, 47), rgb(48, 47, 47), rgb(48, 47, 47), transparent);
  }

   .li2::before, .li4::before,
   .li5::before, .li7::before {
     border-width: 3px;
   }

   .li2::after, .li4::after,
   .li5::after, .li7::after {
    font-size: 20rem;
   }

  .li2::before, .li4::before {
    left: -3px;
  }

  .li2::after, .li4::after {
    top: -181px;
    left: -153px;
  }

  .li5::after, .li7::after {
    right: -25px;
  }

  /* projects at 575px */
  .app-preview {
    padding: 10px;
  }

  .app1, .app3 {
    padding-left: 20px;
    margin-left: 0;
  }

  .app2, .app4 {
    padding-right: 20px;
    margin-right: 0;
  }

  .app-preview::before,
  .app-preview::after {
    font-size: 19rem;
  }


  /* top dots app 1 amd 3 */
  .app1::before, .app3::before {
    top: -159px;
    right: -31px;
  }

   .app1::after, .app3::after {
     bottom: -37px;
     right: -31px;
   }

   .app2::after, .app4::after {
     top: -159px;
     left: -31px;
   }

   .app2::before, .app4::before {
     bottom: -37px;
     left: -31px;
   }
   
   /* contact at 575px */
   .contact form, .socials {
     width: 90%;
   }

   .contact form {
     margin: 20px auto 20px 10px;
   }

   .inputs {
     flex-wrap: wrap;
   }

  input {
    width: 100%;
    margin: 10px 0;
  }

   /* re jigging the piping */
  .full::before {
    right: -18px;
    height: 180%;
  }

  .full::after {
    right: -13px;
  }

  .inputs::before {
    top: 39px;
    right: -15px;
    width: 30px;
  }

  .inputs::after {
    font-size: 16rem;
    right: -35px;
    bottom: -76px;
  }

  .contact form::before,
  .contact form::after {
    opacity: 1;
  }

}
